#Builder
NIXPACKS_BUN_VERSION=1.3.8
RAILPACK_BUN_VERSION=1.3.8

# Server
NODE_ENV=development
BUN_ENV=development
PORT=8088
DEBUG=true
HOST=http://127.0.0.1:${PORT}

# Application
APP_NAME=Qortex
APP_VERSION=1.0.0
APP_ID=QRTX72FGHS34ID2026

# Database
MONGO_URI=
REDIS_URI=
